* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
  }


  header{
    display: block;
    background: linear-gradient(to top, transparent 0%, #fff 80%), no-repeat center center;
    background-size: cover
  }
  .header__div-nav{
    background-color: white;
    width: 100%;
    top: 0;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 70px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: rgb(138, 14, 5);
    
  }
  
  .header__nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    
  }
  .header__nav-a{
  color: white;
  font-size: 18px;
  }
  
  .header__nav-a:hover {
    color: rgb(184, 131, 17);
    font-weight: bold;
  }
  
  .header__img{
  margin: 50px;
  padding: 50px;
  display: flex;
  justify-content: center;
  
  }


/*main */

#titulo{
  font-size: 35px;
  display: flex;
  justify-content: center;
}

fieldset{
border: 0;
}

main{
  background-color: rgb(236, 217, 140);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 5%;
  justify-content: center;
}

input, select, textarea, button{
  border-radius: 5px;
}

.campo{
  margin: 1rem;
}

.campo label{
  margin: 0.5rem;
  color: rgb(138, 14, 5);
  display: block;
}

fieldset.grupo .campo{
  float: left;
  margin-right: 1rem;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="tel"], .campo select, .campo textarea{
  padding: 0.2rem;
  border: 1px solid rgb(138, 14, 5);  
  box-shadow: 2px 2px 2px rgb(184, 131, 17);
  display: block;
}

.campo select option{
  padding-right: 1rem;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: rgb(138, 14, 5);
}

.botao{
  font-size: 1.2rem;
  background: rgb(138, 14, 5);
  border: 0;
  margin-bottom: 1rem;
  color: #fff;
  padding: 0.2rem 0.6rem;
  box-shadow: 2px 2px 2px rgb(184, 131, 17);
  text-shadow: 1px 1px 1px rgb(234, 167, 21);
  position:absolute;
  
}

.botao:hover{
  color: rgb(184, 131, 17);
}

#check{
  display: inline-block;
}


/* footer */


.footer_main{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(157, 204, 164);
  margin: auto;
  padding: 10px;
  
  }
  
  .footer_img{
  margin: 15px;
  padding: 15px;
  
  }
  
  .p_footer{
  margin-top: 35px;
  
  }
  
  .img_linkedin{
  width: 60px;
  padding: 5px;
  }
  
  .img_git{
  width: 60px;
  padding: 5px;
  }
  
  .hr_footer{
  width: 600px;
  color: black;
  margin-left: 300px;
  
  
  }
  
  .p_footer{
  padding: 15px;
  font-size: 15px;
  text-align: center;
  color: rgb(138, 14, 5);
  }
  
  .p_footer2{
  padding: 10px;
  font-size: 13px;
  text-align: center;
  }
  
  .div_imagem_footer{
  display: flex;
  flex-direction: row;
  padding-left: 400px;
  
  }
  
  .imagem_footer{
  width: 80px;
  padding: 15px;
    
  }
  
  .imagem_SOS{
  width: 250px;
  }